/*Fonts*/
@font-face {
    font-family: Heavitas;
    src: url(../fonts/Heavitas.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(1, 170, 127);
    margin: 0;
    padding: 0;
    padding-top: 80px;
    color: white;
}
/*nav bar*/
nav { 
    background-color: rgba(255, 255, 255, 0.851);
    position: fixed;
    top:0;
    width: 100%;
    padding: 20px 0;
}

.nav-links {
    list-style: none;
    padding: 5px;
    text-align: right;
    margin: 0;
}

nav ul li {
    padding: 3px;
    padding-left: 2%;
    padding-right: 2%;
    display: inline-block;
    position: relative;
}

nav ul li div {
    height: 0;
    display: block;
    border-top: #004d40 solid;
    padding: 0;
    margin: 0;
    transform: scaleX(0); 
    transform-origin: center;
    transition: transform 0.25s ease-in-out;
    bottom: 0; /* Align it to the bottom of the `li` */
    left: 0; /* Start from the left of the `li` */
    border-radius: 3px;
}

nav ul li:hover div {/* Optional: Change text color on hover */
    transform: scaleX(1);
}

nav ul li a {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: rgb(1, 170, 127);
    font-family: Bebas;
    transition: color .5s ease;
}

nav ul li:hover a {
    color: #004d40; /* Example: slightly darker green */
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 0.3rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: .7rem;
    border: 1px rgb(1, 170, 127) solid;
    border-radius: 5px;
    margin-left: 1rem;
    box-shadow: 1px 1px 0 rgb(104, 104, 104);
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: rgb(1, 170, 127);
}

/*Header*/
header { 
    text-align: center;
    font-family: Heavitas;
    flex-direction: column;
    padding-top: 5rem;
    gap: 2rem;
}

.header-home {
    height: 100vh;
}

header img {
    border-radius: 50%;
    border: white solid 10px;
    width: 40%;
    max-width: 25rem;
    min-width: 15rem;
}

header h1 {
    color: white;
    padding: 0;
    margin: 0;
    font-size: 4em;
    width: 72%;
}

.other-page-titles {
    margin-left: 5%;
    text-align: left;
}

span {
    color: rgb(0, 128, 73);
}

.container {
    padding-top: 5rem;
}

.container li {
    list-style: none;
}

.container h3 {
    font-family: Bebas;
    font-size: 30px;
    letter-spacing: .2rem;
    width: 100%;
}

.container p {
    font-size: 20px;
}

.container li {
    font-size: 1.5em;
    list-style: circle;
    margin-left: 5rem;
}

.green {
    background-color: #004d40;
    border-radius: 2rem;
    padding: 4rem;
}

.row {
    justify-content: center;
}

.row img {
    max-width: 25rem;
    margin-bottom: 3rem;
}

.container .skills {
    flex-wrap: wrap;
}

.skills li {
    font-size: 20px;
}

.info-row {
    border: white 1px solid;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 2px 2px#004d40;
    margin-top: 3rem;
}

#contact-info p a {
    display: inline-block;
    border: white solid 1px;
    border-radius: 5px;
    padding: .5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    font-size: large;
}

#contact-photo {
    width: 30%;
}

#contact-info {
    width: 70%;
}

#image01 {
    width: 70%;
    border-radius: 20px
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid a {
    width: 300px;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.grid a img {
    width: 100%;
    height: 170px;
    border: solid white 1px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.grid a img:hover {
    border-radius: 0;
    box-shadow: 3px 3px 2px rgba(255, 255, 255, 0.705);
    transition: .25s;

}

#reference {
    padding: 50%;
}

footer {
    margin-top: 40px;
    width: 100%;
}

footer p {
    background-color: rgb(68, 68, 68);
    margin: 0;
    text-align: center;
    color: white;
    padding: 20px;
}

footer a img {
    height: 2rem;
    margin-top: -5px;
    margin-left: 3px;
    filter: drop-shadow(.5px .5px .5px #ffffff);
}

.grey {
    background-color: rgb(70, 70, 70);
    padding-bottom: 5rem;
}

@media (max-width: 1920px) {

    .container h3 {
        font-size: 3em;
    }

    .container p {
        font-size: 1.8em;
    }
}

@media (max-width: 768px) {

    nav {
        height: fit-content;
    }

    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: relative;
        margin-top: -3rem;
        right: 0;
        transform: scaleY(0); /* Initial state: collapsed */
        transform-origin: top;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .nav-links.active {
        display: flex;
        transform: scaleY(1); /* Expanded state */
        opacity: 1;
    }

    nav ul li div {
        display: none;
    }

}

/* ######################## Phone Screen ########################### */

@media (max-width: 500px){
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        color: rgb(0, 0, 0);
    }


    header h1 {
        font-size: 20px;
    }

    nav { 
        margin: 0;
        padding: 0;
        position: relative;
    }



    nav ul li a {
        transition: none;
        padding: 2px;
    }
}