/*Fonts*/
@font-face {
    font-family: Heavitas;
    src: url(fonts/Heavitas.ttf);
}

@font-face {
    font-family: Bebas;
    src: url(fonts/BebasNeue-Regular.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    color: white;
}
/*nav bar*/
nav { 
    background-color: rgba(0, 0, 0, 0.589);
    position: fixed;
    top:0;
    width: 100%;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 5px;
    text-align: right;
    margin: 0;
}

nav ul li {
    padding: 3px;
    padding-left: 2%;
    padding-right: 2%;
    display: inline;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: Bebas;
    padding: 7px;
    transition: .5s;
}
/*Nav hover effects*/
nav ul li a:hover {
    transition: .5s;
    color: black;
    background-color: white;
}
/*Header*/
header { 
    margin-top: 80px;
    text-align: left;
    font-family: Heavitas;
}

header h1 {
    color: white;
    padding: o;
    margin: 0;
    margin-left: 10%;
    font-size: 30px;
}

header h2 {
    font-size: 90px;
    padding: 0;
    margin: 0;
    margin-left: 10%;
    margin-right: 10%;;
    color: white;
}

.full-width {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
}

.full-width h3 {
    font-family: Bebas;
    font-size: 30px;
    letter-spacing: .2rem;
    width: 100%;
}

.full-width p {
    font-size: 20px;
}

#contact-info {
    float: left;
    padding-left: 4%;
    line-height: 2.5;
    width:65%;
    align-items: baseline;
}

#contact-info p a {
  background-image: linear-gradient(#000000 ,#000000);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 14px;
  font-size: 13px;
  outline: 0;
  padding: 0 11px;
  text-decoration: none;
  touch-action: manipulation;
}

#contact-info p a:active {
  border-bottom-color: #a2a6ac;
}

#contact-info p a:hover {
  border-bottom-color: #a2a6ac;
}

#contact-info p a:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

#contact-info p a:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}

#contact-photo {
    float: right;
    width: 30%;
}

#image01 {
    width: 70%;
    border-radius: 20px
}

.grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.grid a {
    width: 300px;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.grid a img {
    width: 100%;
    height: 170px;
    border: solid white 1px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.grid a img:hover {
    border-radius: 0;
    box-shadow: 3px 3px 2px rgba(255, 255, 255, 0.705);
    transition: .25s;

}

#reference {
    padding: 50%;
}

footer {
    margin-top: 40px;
    width: 100%;
}

footer p {
    background-color: rgb(68, 68, 68);
    margin: 0;
    text-align: center;
    color: white;
    padding: 20px;
}

/* ######################## Phone Screen ########################### */

@media (max-width: 500px){
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(0, 0, 0);
        margin: 0;
        padding: 0;
        color: rgb(0, 0, 0);
    }

    header {
        margin-top: 20px;
    }

    header h1 {
        font-size: 20px;;
    }

    header h2 {
        font-size: 40px;
    }

    nav { 
        background-color: rgb(68, 68, 68);
        margin: 0;
        padding: 0;
        position: relative;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        transition: none;
        padding: 2px;
    }
}